/* Text and shadow colors #BDD4E7*/
/* Background color for the form #696969*/
/* Button color #57585c*/
/* hover for button color #282a32*/
html{
    background-image:  url(textile_image.avif);
    background-size: 100% 100%;           
     background-repeat: no-repeat;  
     background-attachment: fixed; 
     min-height: 100%; 
     margin: 0;
     padding: 0;         
     font-family: "Saira Stencil", sans-serif;
     color: #bdd4e7;
     width: 100vw;
     height: 100vh;
     


}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#navigation-bar{
    background-color: #282a3269;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 2px;
    height: 45px;
    width: 100%;
    margin: 0;
   

}

.about{
    color: #bdd4e7;
    text-decoration: none;
    font-size: 1rem;
    width: 100px;
    transition: color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    padding: 0 15px;
     margin-right: 8px;
    margin-left: 5px;
    border-radius: 10px;

}

.about:last-child{
    margin-right: 8px;
    margin-left: 5px;
    width: 100px;
    padding: 0 5px;
    margin: 0;
}

.about:hover{
    color: #1c44e2;
    cursor: pointer;
}

#Nav-about{
    display: flex;
    flex-direction: row;
    justify-content:  flex-end;
    align-items: center;
    margin: 0;
    width: 100%;

}

#logo{
    height: 50px;
    width: 100px;
    margin-right: 20px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


 #clothing-form{
        font-weight: 500;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #bdd4e7;
    color: black;
    height: 400px;
    width: 600px;
    padding: 5px;
    border-radius: 10px;
    margin: 0 20px;
}


section{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin: 0;
    
}

#clothing-form label{
    font-size: 1.2rem;
    color: #282a32;
    width: 100px;
    text-align: center;
}

#clothing-form input{
    background-color: #505e94;
    color: #bdd4e7;
    height: 20px;
    width: 50%;
    
}

#clothing-form input:focus{
    background-color: #727a99;
    color: #bdd4e7;
    border: 2px solid #282a32;
    
}

#clothing-form input::placeholder{
    color: #bdd4e7;
    
}



#comment-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#feedback{
    background-color: #505e94;
    color: #bdd4e7;
    height: 100px;
    max-height: 100px;
    min-height: max-content;
    width: 50%;
    max-width: 50%;
    padding: 5px;
}

#feedback::placeholder{
    color: #bdd4e7;
    text-align: center;
}

#feedback:focus{
    background-color: #727a99;
    color: #bdd4e7;
    border: 2px solid #282a32;
    
}



#skip-btn{
    color: #bdd4e7;
    font-weight: 400;
    background-color: #505e94;
    border: none;
    padding: 7px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: fit-content;

}

#skip-btn:hover{
     background-color: #343e67;
    cursor: pointer;    
    box-shadow: 0 0.5em 0.7em  #393f58;
    transform: translatey(-0.25em);
}

#submit-btn{
    color: #bdd4e7;
    background-color: #505e94;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: fit-content;

}

#submit-btn:hover{
    background-color: #343e67;
    cursor: pointer;    
    box-shadow: 0 0.5em 0.7em  #393f58;
    transform: translatey(-0.25em);
}


@media (min-width: 500px) and (max-width: 1700px) {

    
   #navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
    height: 100px;
    width: 100%;
        margin-bottom: 30px;

}


.about{
    color: #bdd4e7;
    text-decoration: none;
    font-size: 1rem;
    width: 1px;
    transition: color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    padding: 0 15px;
    margin-right: 8px;
    margin-left: 1px;
    border-radius: 10px;
}

.about:last-child{
    margin-right: 8px;
    margin-left: 5px;
    width: 100px;
    padding: 0 5px;
    margin: 0;
}

.about:hover{
    color: #1c44e2;
    cursor: pointer;
}

#Nav-about{
    display: flex;
    flex-direction: row;
    justify-content:  flex-end;
    align-items: center;
    margin: 0;
    width: 100%;

}

#logo{
    height: 100px;
    width: 200px;
    

}

}


@media (min-width: 400px) and (max-width: 1700px){
    #clothing-form{
        font-weight: 500;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #bdd4e7;
    color: black;
    height: 400px;
    width: 600px;
    padding: 5px;
    border-radius: 10px;
    margin: 0 20px;
}

section{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 0;
    
}

#clothing-form label{
    font-size: 1.2rem;
    color: #282a32;
    width: 200px;
    text-align: center;
}

#clothing-form input{
    background-color: #505e94;
    color: #bdd4e7;
    height: 30px;
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    
}

#clothing-form input:focus{
    background-color: #727a99;
    color: #bdd4e7;
    border: 2px solid #282a32;
    
}

#clothing-form input::placeholder{
    color: #bdd4e7;
    
}



#comment-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}


#feedback{
   background-color: #505e94;
    color: #bdd4e7;
    height: 30px;
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    max-width: 300px;
    min-width: 295px;
}

#skip-btn{
    color: #bdd4e7;
    font-size: 0.9rem;
    background-color: #505e94;
    border: none;
    width: 100px;
    height: 20px;
    max-height: 20px;
     min-height: 20px;
     max-width: 100px;
     min-width: 100px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding:8px;
    text-align: center;
    
  
  
}

#buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
#submit-btn{
    color: #bdd4e7;
    background-color: #505e94;
    border: none;
    padding: 8px;
    text-decoration: none;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 35px;
    text-align: center;

}
}


@media (max-width: 600px) {

    .about{
    color: #bdd4e7;
    text-decoration: none;
    font-size: 1rem;
    width: 1px;
    transition: color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    padding: 0 15px;
    margin-right: 8px;
    margin-left: 1px;
    border-radius: 10px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}



#clothing-form{
            font-weight: 500;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 45px;
    background-color: #bdd4e7;
    color: black;
    height: 380px;
    width: 480px;
    padding: 5px;
    border-radius: 10px;
    text-align: right;
}

section{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 0;
    
}

#clothing-form label{
    font-size: 1.2rem;
    color: #282a32;
    width: 220px;
    text-align: center;
}

#clothing-form input{
    background-color: #505e94;
    color: #bdd4e7;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    
}

#clothing-form input:focus{
    background-color: #727a99;
    color: #bdd4e7;
    border: 2px solid #282a32;
    
}

#clothing-form input::placeholder{
    color: #bdd4e7;
    
}



#comment-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}


#feedback{
   background-color: #505e94;
    color: #bdd4e7;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    max-width: 210px;
    min-width: 195px;
}


#skip-btn{
    color: #bdd4e7;
    font-size: 0.9rem;
    background-color: #505e94;
    border: none;
    width: 100px;
    height: 20px;
    max-height: 20px;
     min-height: 20px;
     max-width: 100px;
     min-width: 100px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding:8px;
    text-align: center;
    
  
  
}

#buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
#submit-btn{
    color: #bdd4e7;
    background-color: #505e94;
    border: none;
    padding: 8px;
    text-decoration: none;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 35px;
    text-align: center;

}
}

@media (max-width: 450px){
.about{
    color: #bdd4e7;
    text-decoration: none;
    font-size: 1rem;
    width: 1px;
    transition: color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    padding: 0 15px;
    margin-right: 8px;
    margin-left: 1px;
    border-radius: 10px;
}
    
#clothing-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #bdd4e7;
    color: black;
    gap: 30px;
    height: 390px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}
#clothing-form label{
    font-size: 1rem;
    color: #282a32;
    width: 220px;
    text-align: center;
}

#comment-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}


#feedback{
   background-color: #505e94;
    color: #bdd4e7;
    height: 40px;
    width: 170px;
    border-radius: 10px;
    padding: 5px;
    min-width: 170px;
    max-width: 170px;
    max-height: 40px;
    
}

#skip-btn{
    color: #bdd4e7;
    font-size: 0.6rem;
    background-color: #505e94;
    border: none;
    width: 50px;
    height: 20px;
    max-height: 20px;
     min-height: 20px;
     max-width: 50px;
     min-width: 50px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding:8px;
    text-align: center;
    
  
  
}

#buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
#submit-btn{
    color: #bdd4e7;
    background-color: #505e94;
    border: none;
    padding: 8px;
    text-decoration: none;
    font-size: 0.6rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 80px;
    height: 35px;
    text-align: center;

}
}
