/* Text and shadow colors #BDD4E7*/
/* Background color for the form #696969*/
/* Button color #57585c*/
/* hover for button color #282a32*/
html{
    background-image:  url(textile_image.avif);
    background-size: 100% 100%;           
     background-repeat: no-repeat;  
     background-attachment: fixed; 
     min-height: 100%; 
     margin: 0;
     padding: 0;         
     font-family: "Saira Stencil", sans-serif;
     color: #bdd4e7;
     width: 100vw;
     height: 100vh;
     


}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 2px;
    height: 45px;
    width: 100vw;
    margin: 0;
   

}


.about{
    color: #bdd4e7;
    text-decoration: none;
    font-size: 1rem;
    width: 25%;
    transition: color 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;

}

.about:last-child{
    margin-right: 8px;
    margin-left: 5px;
    width: fit-content;
    padding-left: 2px;
    border-left: 2px solid #bdd4e7;
}

#Nav-about{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
}

#logo{
    height: 50px;
    width: 100px;
    margin-right: 20px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}



#clothing-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #bdd4e7;
    color: black;
    height: 40vh;
    width: 80vw;
    padding: 20px;
    border-radius: 10px;
    margin: 0 20px;
}


section{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin: 0;
    
}

#clothing-form label{
    font-size: 1rem;
    color: #282a32;
    width: 50%;
    text-align: left;
}

#clothing-form input{
    background-color: #505e94;
    color: #bdd4e7;
    height: 20px;
    width: 50%;
    
}

#clothing-form input:focus{
    background-color: #727a99;
    color: #bdd4e7;
    border: 2px solid #282a32;
    
}

#clothing-form input::placeholder{
    color: #bdd4e7;
    
}



#comment-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#feedback{
    background-color: #505e94;
    color: #bdd4e7;
    height: 100px;
    max-height: 100px;
    min-height: max-content;
    width: 50%;
    max-width: 50%;
    padding: 5px;
}

#feedback::placeholder{
    color: #bdd4e7;
    text-align: center;
}

#feedback:focus{
    background-color: #727a99;
    color: #bdd4e7;
    border: 2px solid #282a32;
    
}



#skip-btn{
    color: #bdd4e7;
    font-weight: 400;
    background-color: #505e94;
    border: none;
    padding: 7px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: fit-content;

}

#skip-btn:hover{
     background-color: #343e67;
    cursor: pointer;    
    box-shadow: 0 0.5em 0.7em  #393f58;
    transform: translatey(-0.25em);
}

#submit-btn{
    color: #bdd4e7;
    background-color: #505e94;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: fit-content;

}

#submit-btn:hover{
    background-color: #343e67;
    cursor: pointer;    
    box-shadow: 0 0.5em 0.7em  #393f58;
    transform: translatey(-0.25em);
}

@media (min-width: 850px) {

    #navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
    height: 100px;
    width: 100vw;
    margin: 0;
   

}


.about{
    color: #bdd4e7;
    text-decoration: none;
    font-size: 1.5rem;
    width: 50%;
    transition: color 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;

}

.about:last-child{
    margin-right: 8px;
    margin-left: 5px;
    width: 10vw;
    padding: 0;
    margin: 0;
    border-left: none;
}

#Nav-about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    width: 100%;

}

#logo{
    height: 150px;
    width: 300px;
    

}

/* Adjusting the form size and layout for larger screens */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}



#clothing-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #bdd4e7;
    color: black;
    height: 40vh;
    width: 40vw;
    padding: 20px;
    border-radius: 10px;
    margin: 0 20px;
}

section{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 0;
    
}

#clothing-form label{
    font-size: 1rem;
    color: #282a32;
    width: 50%;
    text-align: left;
}

#clothing-form input{
    background-color: #505e94;
    color: #bdd4e7;
    height: 20px;
    width: 50%;
    
}

#clothing-form input:focus{
    background-color: #727a99;
    color: #bdd4e7;
    border: 2px solid #282a32;
    
}

#clothing-form input::placeholder{
    color: #bdd4e7;
    
}



#comment-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#feedback{
    background-color: #505e94;
    color: #bdd4e7;
    height: 100px;
    width: 50%;
    padding: 5px;
}
}

@media (max-width: 419px) {


    #navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
    height: 100px;
    width: 100vw;
    margin: 0;
   

}


.about{
    color: #bdd4e7;
    text-decoration: none;
    font-size: 1.5rem;
    width: 50%;
    transition: color 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;

}

.about:last-child{
    margin-right: 8px;
    margin-left: 5px;
    width: 10vw;
    padding: 0;
    margin: 0;
    border-left: none;
}

#Nav-about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    width: 100%;

}
#logo{
    height: 80px;
    width: 100px;
    

}

/* Adjusting the form size and layout for larger screens */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}



#clothing-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #bdd4e7;
    color: black;
    height: 50vh;
    width: 70vw;
    padding: 5px;
    border-radius: 10px;
    margin: 0 20px;
}

section{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 0;
    
}

#clothing-form label{
    font-size: 1rem;
    color: #282a32;
    width: 50%;
    text-align: left;
}

#clothing-form input{
    background-color: #505e94;
    color: #bdd4e7;
    height: 20px;
    width: 50%;
    
}

#clothing-form input:focus{
    background-color: #727a99;
    color: #bdd4e7;
    border: 2px solid #282a32;
    
}

#clothing-form input::placeholder{
    color: #bdd4e7;
    
}



#comment-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#feedback{
    background-color: #505e94;
    color: #bdd4e7;
    height: 100px;
    width: 50%;
    padding: 5px;
}

#skip-btn{
    color: #bdd4e7;
    font-weight: 400;
    background-color: #505e94;
    border: none;
    width: 20px;
    height: 25px;
    text-decoration: none;
    font-size: 0.7rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
  
  
}

#buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
#submit-btn{
    color: #bdd4e7;
    background-color: #505e94;
    border: none;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 0.7rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100px;
    height: 40px;

}
}
